<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZiCoffe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZiCoffe.Properties.Settings.QLCFConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=QLCF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ZiCoffe.Properties.Settings>
            <setting name="typeBack1" serializeAs="String">
                <value>34, 36, 49</value>
            </setting>
            <setting name="typeBack2" serializeAs="String">
                <value>0, 168, 255</value>
            </setting>
            <setting name="typeBack3" serializeAs="String">
                <value>78, 184, 206</value>
            </setting>
            <setting name="typeFore1" serializeAs="String">
                <value>78, 184, 206</value>
            </setting>
            <setting name="typeFore2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="typeFore3" serializeAs="String">
                <value>34, 36, 49</value>
            </setting>
            <setting name="greeting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bye" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="click" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appearance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="companyIntroduce" serializeAs="String">
                <value />
            </setting>
            <setting name="companyAddress" serializeAs="String">
                <value>549 Xô Viết Nghệ Tĩnh - P.26 - Q.Bình Thạnh - TP.HCM - Việt Nam</value>
            </setting>
            <setting name="companyAddressBill1" serializeAs="String">
                <value>549 Xô Viết Nghệ Tĩnh - P.26</value>
            </setting>
            <setting name="companyPhone1" serializeAs="String">
                <value>(+84) 0943 144 178</value>
            </setting>
            <setting name="companyPhone2" serializeAs="String">
                <value>(+84) 0000 000 000</value>
            </setting>
            <setting name="companyEmail1" serializeAs="String">
                <value>sotayvaodoi@gmail.com</value>
            </setting>
            <setting name="companyEmail2" serializeAs="String">
                <value>anonymous220011@gmail.com</value>
            </setting>
            <setting name="companyBank1" serializeAs="String">
                <value>7410 852 9630 000 - Nguyễn Ngọc Hiếu - Chi nhánh TechComBank Bình Thạnh</value>
            </setting>
            <setting name="companyBank2" serializeAs="String">
                <value>7410 852 9630 000 - Nguyễn Ngọc Hiếu - Chi nhánh TechComBank Bình Thạnh</value>
            </setting>
            <setting name="linkFacebook" serializeAs="String">
                <value>https://www.facebook.com/zi.anonymous.zi</value>
            </setting>
            <setting name="linkYoutube" serializeAs="String">
                <value>https://www.youtube.com/channel/UCi0aeFqCM7PDf1QPltsS4gw?view_as=subscriber</value>
            </setting>
            <setting name="linkWebsite" serializeAs="String">
                <value>https://sites.google.com/view/zitech-us-1611061206/trang-ch%E1%BB%A7</value>
            </setting>
            <setting name="linkInstagram" serializeAs="String">
                <value>https://www.instagram.com/zi1611061206/</value>
            </setting>
            <setting name="linkGooglePlus" serializeAs="String">
                <value>https://aboutme.google.com/</value>
            </setting>
            <setting name="ipAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="drinksWidth" serializeAs="String">
                <value>163</value>
            </setting>
            <setting name="drinksHeigh" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="tableWidth" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="tableHeigh" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="tableBackColorTemp" serializeAs="String">
                <value>0, 168, 255</value>
            </setting>
            <setting name="tableForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="drinkBackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="drinkForeColorName" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="drinkForeColorPrice" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="tableBackColorFull" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="titleBackColor" serializeAs="String">
                <value>0, 122, 204</value>
            </setting>
            <setting name="titleForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="footerBackColor" serializeAs="String">
                <value>0, 122, 204</value>
            </setting>
            <setting name="footerForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="currentThemeColor" serializeAs="String">
                <value>34, 36, 49</value>
            </setting>
            <setting name="theme1" serializeAs="String">
                <value>34, 36, 49</value>
            </setting>
            <setting name="theme2" serializeAs="String">
                <value>0, 122, 204</value>
            </setting>
            <setting name="theme3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="theme4" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="theme5" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="sexStaff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nameStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="addressStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="phoneStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="positionStaff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usernameStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="speakerVolumn" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="speakerRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="goodbye" serializeAs="String">
                <value>Goodbye, See you later!</value>
            </setting>
            <setting name="welcome" serializeAs="String">
                <value>"Welcome to Coffee Shop Managerment. How are you ,today?"</value>
            </setting>
            <setting name="allowLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="birthStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="idCardStaff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="typeBackOff" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="companyAddressBill2" serializeAs="String">
                <value>Q.Bình Thạnh - TP.HCM - Việt Nam</value>
            </setting>
            <setting name="currencySymbol" serializeAs="String">
                <value>VND</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>vi-VN</value>
            </setting>
        </ZiCoffe.Properties.Settings>
    </userSettings>
</configuration>