USE [QLCF]
GO
/****** Object:  StoredProcedure [dbo].[SearchAccount]    Script Date: 11/5/2020 3:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SearchAccount]
@tendangnhap varchar(50)
as
begin
	select tendangnhap as [Tên đăng nhập], NgayLap as [Ngày tạo], MaNhanVien as [Mã nhân viên] 
	from dbo.TaiKhoan
	where dbo.fuConvertToUnsign1(TenDangNhap) like  N'%'+dbo.fuConvertToUnsign1( @tendangnhap )+'%'
end
GO
